{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Transfer an academy to another trust",
  serviceUrl: "#",
  containerClasses: "govuk-width-container",
  navigation: [
  
  ]
}) }}
{% endblock %}

{% block pageTitle %}
Identification
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
  text: "alpha"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}


{% endblock %}

{% block content %}

<a href="add-academies.html" class="govuk-back-link">Back</a>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Has an incoming trust been identified?
      </h1>
    </legend>
    
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          No
        </label>
      </div>
    </div>

  </fieldset>
</div>

  <a href="summary.html" role="button" draggable="false" class="govuk-button">
      Save and continue
  </a> 



{% endblock %}