{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: "Transfer an academy to another trust",
  serviceUrl: "#",
  containerClasses: "govuk-width-container",
  navigation: [
  
  ]
}) }}
{% endblock %}

{% block pageTitle %}
Incoming
{% endblock %}


{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
  text: "alpha"
},
html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard.html">Dashboard</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="dashboard.html">Academy transfer projects</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Add new project</a>
    </li>
  </ol>
</div>

<div class="govuk-width-container"><br>
  <h1 class="govuk-heading-xl">Add the incoming trust name</h1>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <label class="govuk-body govuk-hint" for="my-autocomplete">Search by name, trust reference number or companies house
      number</label>
    <div id="my-autocomplete-container"></div>
  </div>
</div>
<br>

<a href="summary.html" role="button" draggable="false" class="govuk-button">
  Search
</a>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<link rel="stylesheet" href="/public/stylesheets/accessible-autocomplete.min.css" />
<script>
  const countries = [
    'St John Rigby Catholic Primary School (URN 139515)',
    'St Thomas More Catholic Primary School (URN 139517)',
    'St Marys Catholic Primary School (URN 142738)'
  ]
  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: countries
  })
</script>

{% endblock %}